.section-ability {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media('<=LGdesktop') {
      height: 50vh;
      width: 100%;
  }

    &-wrapper {
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        @include media('<=LGdesktop') {
            height: 50vh;
            width: 100%;
        }
    &-title {
        font-size: 40px;
        font-family: $arial;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.circle-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 7em;

  @include media('<=phone') {
    display: flex;
    flex-direction: column;
    height: 200%;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    padding-right: 40px;

  }
}
.circle-bar > .icon{
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
position: relative;
width: 200px;
height: 200px;
background-color: #17B978;




@include media('<=tablet') {
  height: 100px;
  width: 100px;
  }
  @include media('<=phone') {
    height: 200px;
    width: 200px;
    }
}
.icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color:#111E43;
  z-index: 1;


  @include media('<=tablet') {
    height: 70px;
    width: 70px;
}
@include media('<=phone') {
  height: 150px;
  width: 150px;
  }
}
h5 {
color: white;
font-size: 18px;
z-index: 2;
}
    .icon::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color:#E2F3F5;


      @include media('<=tablet') {
        height: 100px;
        width: 100px;
      }
      @include media('<=phone') {
        height: 200px;
        width: 200px;
        }
    }
.icon::after {
          content: '';
          clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
    }
  }
  .section-ability-wrapper {
    @include media('<=phone') {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;

    }
  }
  .icon:nth-child(1) {
    @include media('<=phone') {
      display: flex;
      margin-right: 150px;
      margin-bottom: 20px;
    }
  }
  .icon:nth-child(2) {
    @include media('<=phone') {
      display: flex;
      margin-right: 150px;
      margin-bottom: 20px;
    }
  }
  .icon:nth-child(3) {
    @include media('<=phone') {
      display: flex;
      margin-right: 150px;
    }
  }
.section-ability-wrapper-title {
  @include media('<=phone') {
    display: flex;
    justify-content: center;
    align-items: center;
  }
      h3 {
        @include media('<=phone') {
          font-size: 40px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 60px;
      }
      // @include media('<=tablet') {
      //   position: absolute;
      //   top: 95%;
      // }
    } 
}
}
.section-ability-wrapper {
  @include media('<=tablet') {
  height: 50vh;
  width: 100%;
  }
}
.section-ability {
  @include media('<=tablet') {
  height: 50vh;
  width: 100%;
  }
}