body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;

    @include media('<=phone') {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

.section-header {
    height: 100vh;
    width: 100%;

    &-wrapper {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .herobox {
            display: flex;
            flex-direction: column;
            height: 384px;
            justify-content: center;
            align-items: flex-start;
            width: 672px;
            margin-left: 20px;

            .herobox-title {
            h2 {
                font-family: $mistral;
                font-size: 25px;
                color: $very-blue;
                display: flex;
                justify-content: flex-start;
                align-items: center;

            }
            h1 {
                font-family: $arial;
                font-size: 40px;
                color: $dark-color;
                padding-top: 10px;
                }
            }
            .herobox-title { 
                @include media('<=phone') {
                    width: 50%;
                    height: 105%;

                    h2  {
                        @include media('<=phone') {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-left: 50px;
                    }
                }
                    h1 {
                        @include media('<=phone') {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            font-size: 27px;
                            width: 100vw;
                            padding-top: 25px;
                            margin-left: 45px;
                        }    
                    }
                }
            }
        .herobox__subtitle {
            h2 {
                font-size: 37px;
                font-family: $mistral;
                color:  $very-blue;
                width: 50%;
                height: 30%;
                padding-top: 10px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                    @include media('<=phone') {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        margin-left: 50px;
                    }
                }
            }       
        }
        .herobox__calltoaction {
            button {
                background-color: $green;
                color: white;
                border-radius: 5px;
                font-family: $arial;
                font-size: 25px;
                border: $green 5px solid;
                margin: 1em 4em 0 0 ;
                padding: 20px;

                @include media('<=tablet') {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    margin-left: 30px;
                }
            }
        }

        .section-header-wrapper__image {
            width: 400px;
            height: 400px;
            background: url('../img/5834.png');
            background-repeat: no-repeat;
            background-size: contain;
    
            @include media('<=phone') {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                height: 120px;
                width: 120px;
                background: url('../img/5834.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                bottom: 74%;
                right: 0;
                }
            
            //     @include media('<=tablet') {
            //         width: 440px;
            //         height: 440px;
            //     }
        }
    }
}
   
@include media('<=LGdesktop') {
    .herobox__subtitle {
        h2 {
            margin-top: 16px;
            }
        }
    }
}