body {
    overflow-x: hidden;

.section-header {
    height: 100vh;
    width: 100%;

    &-wrapper {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .herobox {
            display: flex;
            flex-direction: column;
            height: 384px;
            justify-content: center;
            align-items: center;
            width: 672px;

            .herobox-title {
            h2 {
                font-family: $mistral;
                font-size: 25px;
                color: $very-blue;
                position: absolute;
                top: 34%;
                left: 8%;
            }
            h1 {
                font-family: $arial;
                font-size: 40px;
                color: $dark-color;
                position: absolute;
                left: 8%;
                top: 36%;
                padding-top: 10px;
                }
            }
            .herobox-title {
                h2 {
                @include media('<=phone') {
                    position: absolute;
                    top: 20%;
                    left: 0;
                    }

                    @include media('<=tablet') {
                        position: absolute;
                        top: 25%;
                        right: 83%;
                    }
                }
                h1 {
                    @include media('<=phone') {
                        position: absolute;
                        top: 23%;
                        left: 0;
                        font-size: 30px;
                        width: 100%;
                    }
                        @include media('<=tablet') {
                            position: absolute;
                            top: 28%;
                            right: 67%;
                            font-size: 30px;
                            padding-top: 9px;
                        }
                        
                }
            }
        .herobox__subtitle {
            h2 {
                font-size: 37px;
                font-family: $mistral;
                // margin: 0 0 0 4em;
                color:  $very-blue;
                width: 50%;
                height: 70%;
                padding-top: 10px;


                @include media('<=tablet') {
                    top: 39%;
                    position: absolute;
                    left: 5%;
                    
                    @include media('<=phone') {
                        margin-right: 0;
                        position: absolute;
                        left: 0;
                        top: 33%;
                    }
            }
        }       
    }
}
        .herobox__calltoaction {
            button {
                background-color: $green;
                color: white;
                border-radius: 5px;
                font-family: $arial;
                font-size: 25px;
                border: $green 5px solid;
                margin: 1em 4em 0 0 ;
                padding: 20px;
                position: absolute;
                top: 60%;
                left: 8%;

                @include media('<=tablet') {
                    position: absolute;
                    top: 50%;
                    left: 0;
                }
            }
        }
}
    .section-header-wrapper__image {
        width: 52%;
        height: 60%;
        background: url('../img/5834.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section-header-wrapper__image {

            @include media('<=tablet') {
                position: absolute;
                top: 20%;
                left: 44%;
                width: 440px;
                height: 440px;
            }
            @include media('<=phone') {
                position: absolute;
                top: 8%;
                left: 57%;
                height: 150px;
                width: 150px;
                }
        }
    }
}
