.section-examples {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    &-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        &-title {
            font-size: 40px;
            font-family: $arial;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            
        }
        &-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .card {
                display: flex;
                height: 400px;
                width: 360px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px #95989A solid;
                border-radius: 5px;
                @include media('<=tablet') {
                    height: 300px;
                    margin: 15px 10px;
                }
            &__image {
                background: url(../img/black.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 100%;;
                width: 100%;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            
            }
            &-footer {
                width: 100%;

                &__title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 10px 20px;
                    
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 27px;                 
                        font-family: $arial;
                        @include media('<=tablet') {
                            font-size: 15px;
                        }
                    }
                }

                &__subtitle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: left;
                    padding: 10px 20px;
                    p {
                        font-family: $mistral;
                        font-size: 21px;
                        @include media('<=tablet') {
                            font-size: 12px;
                        }
                    }
                }
                .almost-all-cards {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 80%;
                    margin: auto;
                    @include media('<=tablet') {
                        width: 100%;
                    }

                    .card__image-3, .card__image-4, .card__image-5 {
                        margin: 0 20px;
                        position: relative;
                        font-size: 8px;
                        font-weight: bold;
                        font-family: sans-serif;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &::before {
                            content: '';
                            height: 20px;
                            width: 20px;
                            position: relative;
                            left: -5px;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                    .card__image-3 {
                        &::before {
                            background: url(../img/likes.png);
                            background-size: contain;

                        }
                    }
                    .card__image-4 {
                        &::before {
                            background: url(../img/comments.png);
                            background-size: contain;
                        }
                    }
                
                    .card__image-5 {
                        &::before {
                            background: url(../img/share.png);
                            background-size: contain;
                        }
                    }
                }
            }
        }
        }
    }
}
