$arial: 'Arial', sans-serif !default;
$mistral: 'mistral', serif !default;

// text font-family
h1, h2, h3, h4, h5, h6 {
    font-family: $arial;
}

p {
    font-family: $mistral;
}

button, input[type=submit] {
    font-family: $arial;
}

a {
    font-family: $mistral;
}

