@import './reset';
@import './colors';
@import './breakpoints';
@import './text_setup';
@import './navbar';
@import './section-header';
@import './section-ability';
@import './section-examples';
@import './section-footer';


.section-navbar-wrapper, header, footer > .section-footer-wrapper, section {
    max-width: 1360px;
    margin: auto;
}

    button {
        @include media('<=phone') {
            height: 80px;
            width: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
.section-examples-wpapper {
    @include media('<=phone') {
        height: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
.card__super-image{
    background: url(../img/design.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width:212px;
    height: 28px;
    z-index: 10;
}